export(IntervalTreeList)
exportClasses(GIntervalTree)
exportClasses(IntervalTreeList)
exportClasses(SimpleIntervalTreeList)
exportMethods(findOverlaps)
exportMethods(intervalTrees)
exportMethods(ranges)
exportMethods(rangesMap)
exportMethods(seqinfo)
exportMethods(seqnames)
exportMethods(strand)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,RangesList)
importMethodsFrom(GenomicRanges,ranges)
importMethodsFrom(GenomicRanges,seqinfo)
importMethodsFrom(GenomicRanges,seqnames)
importMethodsFrom(GenomicRanges,strand)
