export(IntervalTreeList)
export(PartitionedIntervalTree)
exportClasses(IntervalTreeList)
exportClasses(PartitionedIntervalTree)
exportClasses(SimpleIntervalTreeList)
exportMethods(length)
import(IRanges)
importClassesFrom(GenomicRanges,RangesList)
