export(GIntervalTree)
export(IntervalTreeList)
export(PartitionedIntervalTree)
exportClasses(GIntervalTree)
exportClasses(IntervalTreeList)
exportClasses(PartitionedIntervalTree)
exportClasses(SimpleIntervalTreeList)
exportMethods("[")
exportMethods(end)
exportMethods(findOverlaps)
exportMethods(length)
exportMethods(ranges)
exportMethods(seqinfo)
exportMethods(seqnames)
exportMethods(start)
exportMethods(strand)
import(BiocGenerics)
import(GenomicRanges)
import(IRanges)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,GenomicRanges)
importClassesFrom(IRanges,RangesList)
importMethodsFrom(GenomicRanges,ranges)
importMethodsFrom(GenomicRanges,seqinfo)
importMethodsFrom(GenomicRanges,seqnames)
importMethodsFrom(GenomicRanges,strand)
