export(GIntervalTree)
export(IntervalTreeList)
export(PartitionedIRanges)
export(PartitionedIntervalTree)
exportClasses(GIntervalTree)
exportClasses(IntervalTreeList)
exportClasses(PartitionedIRanges)
exportClasses(PartitionedIntervalTree)
exportClasses(SimpleIntervalTreeList)
exportMethods(findOverlaps)
exportMethods(intervalTrees)
exportMethods(rangeMap)
exportMethods(ranges)
exportMethods(seqinfo)
exportMethods(seqnames)
exportMethods(strand)
exportMethods(subsetByOverlaps)
import(BiocGenerics)
import(GenomicRanges)
import(IRanges)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,GenomicRanges)
importClassesFrom(GenomicRanges,RangesList)
importMethodsFrom(GenomicRanges,ranges)
importMethodsFrom(GenomicRanges,seqinfo)
importMethodsFrom(GenomicRanges,seqnames)
importMethodsFrom(GenomicRanges,strand)
